{% extends 'conference_app/base.html' %}

{% block title %}{{ title }} - Conference 2025{% endblock %}

{% block content %}
<section class="py-5 bg-primary-dark text-white">
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-header bg-white py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Lieux d'intervention</h5>
                    <a href="{% url 'location_create' %}" class="btn btn-primary-custom btn-sm">
                        <i class="fas fa-plus me-1"></i> Ajouter un lieu
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Pays</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in locations %}
                            <tr>
                                <td>{{ location.name }}</td>
                                <td>{{ location.country }}</td>

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Aucun lieu d'intervention trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
